NODE_ENV=development
PORT=3000

# Database
DATABASE_URL=postgresql://<username>:<password>@localhost:5432/<database_name>
DATABASE_URL_TEST=postgresql://<username>:<password>@localhost:5432/<test_database_name>

# Redis
REDIS_URL=redis://localhost:6379
REDIS_URL_TEST=redis://localhost:6379/1

# Application
LOG_LEVEL=debug
FRONTEND_URL=http://localhost:5000
TRUST_PROXY=0

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/api/v1/auth/google/callback

# JWT
JWT_SECRET=YOUR_OWN_SECRET
JWT_ACCESS_EXPIRES_IN=15m